@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section {
  background-color: #02160B;
}

.header-section .wrapper {
  background-image: url(../img/header-bg.png);
  height: 779px;
}

.header-section nav {
  width: 45%;
}

.top-menu,
.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-menu a,
.bottom-menu a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: #F7F7F7;
  text-decoration: none;
}

.top-menu a:hover,
.bottom-menu a:hover {
  color: #CD6326;
}

.top-menu svg:hover,
.bottom-menu svg:hover {
  stroke: #CD6326;
  fill: #CD6326;
}

.top-menu .btn-login,
.bottom-menu .btn-login {
  border: 2px solid #CD6326;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #F7F7F7;
  background: none;
  padding: 10px 23px;
}

.top-menu .btn-login:hover,
.bottom-menu .btn-login:hover {
  background: #CD6326;
  color: #F7F7F7;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo:before {
  content: "";
  height: 60px;
  width: 70px;
  left: 0;
  display: inline-block;
  background-image: url(../img/logo.svg);
  margin-right: 20px;
}

.survival {
  width: 247px;
  margin-top: 120px;
}

.survival h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #CD6326;
}

.survival p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #F7F7F7;
  margin-bottom: 50px;
}

.survival .donate {
  background: #CD6326;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #F7F7F7;
  padding: 16px 42px;
  text-decoration: none;
}

.survival .donate:hover {
  background: #E39128;
}

main {
  background: #CCCCCC;
  text-align: center;
}

main section {
  padding-top: 120px;
}

main h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  margin-top: 0;
}

main h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

main .sh-2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

main .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

main .slider a.next,
main .slider a.back {
  margin-left: 30px;
  margin-right: 30px;
}

main .slider svg:hover {
  stroke: #CD6326;
  fill: #CD6326;
}

main .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .slider ul li {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

main .slider ul li .slide-content {
  position: absolute;
  bottom: 40px;
  width: 100%;
  color: #F7F7F7;
}

main .slider ul li .slide-content h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 0px;
}

main .slider ul li .slide-content small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}

main .get-notified {
  padding-bottom: 239px;
}

main .get-notified form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .get-notified input[type="submit" i] {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #F7F7F7;
  background: #CD6326;
  border: 1px solid #CD6326;
  border-radius: 0px 5px 5px 0px;
  height: 60px;
  width: 120px;
}

main .get-notified input[type="submit" i]:hover {
  background: #E39128;
  border-color: #E39128;
}

main .get-notified input[type="text" i] {
  border-color: #666666;
  width: 540px;
  padding: 0 10px;
  height: 58px;
  background: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  border: 1px solid #666666;
  border-right: none;
  border-left-color: #666666;
}

footer {
  background-color: #181617;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 359px;
}

footer nav {
  width: 45%;
}

footer .wrapper {
  background-image: url(../img/footer-bg.jpg);
}

footer .social-list li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-list li svg {
  fill: #134731;
}
